/*Styles for the UL containing the fields */
.mp-stacks-form-field{
	display:table;
	margin:0px auto 0px auto;
	vertical-align:top;	
}
.mp-stacks-form-fields{
	list-style:none;
	margin:0px;
}
.mp-stacks-form-field *:not([type=checkbox]){
	width:100%;	
}
/*Color Picker Input Styles*/
.mp-stacks-forms-field-color{
	padding:0px!important;
	min-height:50px;
} 

/*Checkbox Input Styles*/
.mp-stacks-forms-checkbox-container .mp-stacks-forms-field-description{
	display:inline;
	margin-left:5px;
}
.mp-stacks-forms-field-checkbox{
	display:inline-block
} 

/*Radio Input Styles*/
.mp-stacks-forms-radio-container .mp-stacks-forms-field-description{
	display:inline;
	margin-left:5px;
}
.mp-stacks-forms-field-radio{
	width:inherit!important;
	display:inline-block
} 

/*Override any user set margins on the last field in the form*/
.mp-stacks-form-field:last-child{
	margin-bottom:0px!important;
}

.mp-stacks-forms-hidden{
	display:none!important;	
}